@font-face {
  font-family: 'FranklinGothic';
  src: url('./fonts/franklin-gothic-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothic';
  src: url('./fonts/franklin-gothic-heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: heavy;
}



body {
  margin: 0;
  font-family: 'FranklinGothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
