.context-aboutus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.aboutus-item {
    text-align: center;
}

.last-item {
    margin-bottom: 25%;
}

@media screen and (max-width: 768px){
    .context-aboutus {
        grid-template-columns: 1fr;
    }
}