.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NavBar-logo {
    width: 65%;
    height: 100%;
}

.NavBar-menu-icon {
    width: 5vw;
}