h1{
    font-family: Franklin Gothic Medium;
    font-style: regular;
    font-weight: normal;
    font-size: 124px;
    border: 1px solid black;
}

.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.NavBar-logo{
    width: 65%;
    height: 100%;
}

.NavBar-menu-icon {
    width: 6%;
  }
  